* {
   margin: 0px;
   box-sizing: border-box;
   
}

body {
    font-family: 'Amita', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock-container {
    
    position: relative;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    background: #222222;
    overflow: hidden;
}

.clock-front {
    
    position: relative;
    top: -1400px;
    left: -700px;
    width: 1498px;
    height: 1498px;
    border-radius: 50%;
    background: #3C3C3C;
}

.clock-face {
    
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: 85%;
    height: 85%;
    margin: 7.5% auto;
    background: #EAEAEA;
    box-shadow: inset 0px 0px 25px 30px rgba(0, 0, 0, 0.25);
}


.num {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* transform: rotate(180deg); */
}

.num .tick-text {
    font-family: Amita;
    font-style: normal;
    font-weight: normal;
    font-size: 8vw;
    line-height: 8vw;
    /* identical to box height */

    text-align: center;

    color: #000000;
    /* transform: rotate(-180deg); */
}

.num .tick-thick {
    width: 0.8vw;
    height: 2vw;
    margin: 25px auto 5px auto;
    background: #222222;
}

.num .tick-thin {
    width: 0.3vw;
    height: 1vw;
    margin: 25px auto 5px auto;
    background: #222222;
}


/* Dials */

.top-notch {
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    background: #222222;
    z-index: 5;
}

.hours {
    position: absolute;
    top: 50%;
    left: 44%;
    transform-origin: 74.3% center;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 20vw;
    height: 2vw;

    background: #222222;
    border-radius: 100px;
    
}

.minutes {
    position: absolute;
    top: 50%;
    left: 38%;
    transform-origin: 77.4% center;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 28vw;
    height: 2vw;

    background: #222222;
    border-radius: 100px;
    
}

.seconds {
    position: absolute;
    top: 50%;
    left: 42%;
    transform-origin: 69.4% center;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 339px;
    height: 29px;
}

.seconds .long-part {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
    width: 359px;
    height: 5px;

    background: #AC0000;
    border-radius: 13px;
}
.seconds .round-part {
    position: absolute;
    top: 50%;
    left: 68.5%;
    transform: translate(-40%, -50%);
    width: 3vw;
    height: 3vw;

    background: #AC0000;
    border-radius: 50%;
}
